exclude = ["alembic/versions/", "app/alembic/versions/"]
target-version = "py312"

line-length = 88
indent-width = 4

[lint]
isort = { known-first-party = ["app"] }

select = [
  "E",    # pycodestyle errors
  "W",    # pycodestyle warnings
  "F",    # Pyflakes
  "I",    # isort
  "B",    # flake8-bugbear
  "C4",   # flake8-comprehensions
  "UP",   # pyupgrade
  "ARG",  # flake8-unused-arguments
  "SIM",  # flake8-simplify
  "FAST", # fastapi
]

[format]
quote-style = "double"
indent-style = "space"
line-ending = "auto"
