{% extends "base.j2" %}

{% block content %}
<h2>Password Reset Request</h2>
<p>You requested to reset your password for your FastBack account. Click the link below to proceed:</p>
<p><a href="{{ reset_url }}">Reset Password</a></p>
<p>If you didn't request this, you can safely ignore this email.</p>
<p>This link will expire in 1 hour.</p>
{% endblock %}